*{
    padding: 0;
    margin: 0;
}

.row{
    float: left;
    width: 100%;
}

.mb{
    margin-bottom: 10px;
}

.mr{
    margin-right: 2%;
}

.demo{
    background-color: red;
    height: 100px;
    margin-bottom: 10px;
    margin-top: 10px;
}

/* Header */
.header{
    width: 100%;
}

.menu{
    padding: 10px 10%;
    background-color:#2d2d2d;
    
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  
}

nav p{
    color:rgb(220, 216, 217) ;
    font-size: 30px;
    font-family: 'Bodoni';
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 19px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background:rgb(220, 216, 217);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.account a{
    text-decoration: none;
    color: white;
}

/* Body */

.body{
    width: 80%;
    margin: 0 auto;
}

.sell-title{
    padding: 10px;
    font-size: 20px;
}

.sell-left{
    float: left;
    width: 73%;
}

.box{
    
    width: 29%;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    float: left;
}

.box a{
    text-decoration: none;
    color: black;
}

.box p{
    margin-bottom: 10px;
}

.box img{
    transition: 1.2s;
}

.box img:hover{
    transform: scale(1.2);
}

.sell-right{
    float: right;
    width: 25%;
}

.sell_dearler {
    text-align: center;
    margin-top: 10px;
} 

.sell_dearler h3, h2, h1{
    margin-bottom: 10px;
}

.sell_dearler h1{
    color: red;
}

.sell-brands-title{
    border: solid 1px black;
    font-size: 20px;
    padding: 5px;
}

.sell-brands-name ul li{
    border-bottom: solid 1px black;
    list-style: none;
    padding: 5px;
    margin-bottom: 10px;
}

.sell-brands-name ul li a{
    text-decoration: none;
    color: black;
}

/* FOOTER */
.footer{
    margin-top: 20px;
    background-color: black;
    color: white;
}

.footer-container{
    display: flex;
    justify-content: center;
    gap: 10%;
}

.address{
    padding: 10px;
}

.footer-container a{
    text-decoration: none;
    color: white;
    
}

.address p{
    margin-top: 10px;
    font-size: 20px;
}

.copyright{
    background-color: #2d2d2d;
    color: white;
    height: 50px;
}

.copyright p{
    line-height: 50px;
    text-align: center;
}
